<html>

<head>
  <title>ET Franklin</title>
  <script>
    window.apiBaseUrl = 'https://et-functions-dev.azurewebsites.net';
    // window.apiBaseUrl = 'http://localhost:7071';
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous" />
</head>

<body>
  <div id="app" class="container">
    <div class="row">
      <div class="signalr-demo col-sm">
        <hr />
        <h3>ET Franklin</h3>
      <form v-on:submit.prevent="sendUpdate">
          <input type="text" v-model="name" id="message-box" class="form-control form-control-lg" 
            placeholder="Type name here..." />
          <input type="text" v-model="count" id="message-box" class="form-control form-control-lg" 
            placeholder="Type count here..." />
            <input type="submit" />
      </form>
      </div>
    </div>
    <div class="row" v-for="message in messages">
      <div class="col-sm">
      <hr />
        <div>
          <span class="text-muted small">{{ message.timeago }}</small>
        </div>
        <div>
          {{ message.name }}
        </div>
        <div>
          {{ message.count }}
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/@aspnet/signalr@1.0.0-rc1-final/dist/browser/signalr.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/timeago.js@3.0.2/dist/timeago.min.js"></script>
  <script>
    const data = {
      name: '',
      count: '',
      messages: []
    };
    const app = new Vue({
      el: '#app',
      data: data,
      methods: {
        sendUpdate: function () {
          sendMessage(this.name, this.count);
          this.name = '';
          this.count = '';
        }
      }
    });
    const apiBaseUrl = window.apiBaseUrl;
    const hubName = 'etfranklin';
    
    console.log('retrieving messages');
    getMessages().then(messages => {
      for (let m of messages.reverse()) {
        newMessage(m);
      }
    });
    getConnectionInfo().then(info => {
      console.log(info);
      const options = {
        accessTokenFactory: () => info.accessToken
      };
      const connection = new signalR.HubConnectionBuilder()
        .withUrl(info.url, options)
        .configureLogging(signalR.LogLevel.Information)
        .build();
        
      connection.on('newMessageRegister', newMessage);
      connection.on('newMessageKitchen', newMessage);
      connection.onclose(() => console.log('disconnected'));
      console.log('connecting...');
      connection.start()
        .then(() => console.log('connected!'))
        .catch(console.error);

    }).catch(console.error);
    setInterval(refreshTimes, 1000);

    function getAxiosConfig() {
      const config = {};
      return config;
    }
    function getConnectionInfo() {
      return axios.post(`${apiBaseUrl}/api/signalrinfo`, null, getAxiosConfig())
        .then(resp => resp.data);
    }
    function sendMessage(name, count) {
      return axios.post(`${apiBaseUrl}/api/sendupdate`, {
        name: name,
        count: count
      }, getAxiosConfig()).then(resp => resp.data);
    }
    function getMessages() {
      return axios.get(`${apiBaseUrl}/api/getstate`, getAxiosConfig())
        .then(resp => resp.data);
    }
    function newMessage(message) {
      if (!message.name) {
        message.name = "anonymous";
      }
      message._ts = message._ts || (new Date().getTime() / 1000);
      message.timeago = timeago().format(new Date(message._ts * 1000));
      data.messages.unshift(message);
    }
    function refreshTimes() {
      data.messages.forEach(m => m.timeago = timeago().format(new Date(m._ts * 1000)));
    }
  </script>
</body>

</html>